@use '../../../../styles/admin-panel';

.year-selector {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 20px;
}

.year-label {
  font-size: 16px;
  font-weight: 600;
  min-width: 60px;
  text-align: center;
}
